[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"2faa170" = {path = "./marbles/core", extras = ["dev"], editable = true}
"55bbcad" = {path = "./marbles/mixins", extras = ["dev"], editable = true}

[dev-packages]
Sphinx = "*"
sphinx_rtd_theme = "*"
coverage = "*"
"flake8" = "*"
tox = "*"
"flake8-per-file-ignores" = "*"
bumpversion = "*"
