alabaster==0.7.10
Babel==2.5.0
certifi==2016.2.28
coverage==4.4.1
docutils==0.14
flake8==3.3.0
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.13.1
pandas==0.20.3
pycodestyle==2.3.1
pyflakes==1.5.0
Pygments==2.2.0
pykerberos==1.1.14
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.14.2
requests-kerberos==0.11.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx_rtd_theme==0.2.4
sphinxcontrib-websupport==1.0.1
ts-min==0.13.3
