conda-api==1.1.0
Jinja2==2.8
MarkupSafe==0.23
pandas==0.19.1
pbr==1.10.0
pykerberos==1.1.10
PyYAML==3.11
requests==2.11.1
requests-kerberos==0.8.0
six==1.10.0
ts-min==0.12.3
Sphinx
sphinx_rtd_theme
coverage
flake8
